#conteneur
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
    flex-direction: row;
}

.element
{
    height: 100%;
    width: 33%;
}

.element .glyphicon {
    font-size: 150px;
}