#conteneur
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
    flex-direction: row;
}

.element
{
    background-color: pink;
    height: 100%;
    width: 100%;
}
